</head>
<body>
  <nav>
		<i class="fas fa-plane"></i>
    <a 
      href="/flights/new" <%- title === 'New Flight' ? 'class="active"' : '' %>
    >
      ADD FLIGHT
    </a>
    <a 
    href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>
  >
    ALL FLIGHTS
  </a>
  </nav>